<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/style.css" />
  <link rel="stylesheet" type="text/css" href="assets/theme.css" />
  <title></title>
</head>

<body>
  <div class="nav">
    <h4>Content</h4>
    <ul>
      // split
    </ul>
  </div>
  // split
</body>
<script src="assets/slideScript.js"></script>
</html>
