body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", serif;
  text-shadow: 3px 3px white;
}

h1 {
  font-size: 52px;
  text-align: center;
}

h2 {
  font-size: 42px;
}

code {
  background: white;
  padding: 8px;
  margin: 8px 16px;
  font-size: 16px;
  display: inline-block;
}

.presenterHint {
  color: white;
  font-size: 12px;
  margin: 8px 16px;
}

a {
  color: black;
}

section {
  height: 100vh;
  padding: 20vh 20vw;
}

.description {
  width: 40vw;
}

.nav {
  position: fixed;
  top: 0;
  width: 400px;
  left: 24px;
  opacity: 0.05;
  font-size: 14px;
}

.nav:hover {
  opacity: 1;
  transition-duration: 400ms;
}

.nav a {
  text-decoration: none;
  line-height: 24px;
}

img {
  text-align: center;
}

.PastelDeck__pink {
  background: #ffd2e1;
}

.PastelDeck__pink .disableText {
  color: #ffa8cc;
}

/* FadeIn */
section:target {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
}