* {
  box-sizing: border-box;
}

body {
  margin: 1.5rem;
}

header {
  font-weight: 600;
  text-align: center;
}

section {
  margin: 1rem 0;
}

h1,
h2,
h3 {
  font-family: 'Arvo', serif;
}

h1 {
  font-size: 3rem;
}

p, a {
  font-family: 'Roboto Mono', monospace;
  color: black;
}

code {
  background-color: #daddfb;
  padding: 1rem;
  width: 100%;
  margin: 1rem 0;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example {
  padding: 1rem;
  width: fit-content;
  display: inline-block;
}

#pink {
  background: #FFd2E1;
}

#blue {
  background: #DAEDFB;
}

#purple {
  background: #DADDFB;
}

#green {
  background: #DAFBF8;
}

#yellow {
  background: #FFFCDD;
}

#salmon {
  background: #FFD8D8;
}

#logo {
  width: 100px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media screen and (min-width: 600px) {
  code {
    width: 40vw;
  }

  body {
    margin: 0;
  }

  .wrapper {
    max-width: 70vw;
  }
}
